<ul class="o-accordion-group__list" aria-label="Accordion control group buttons">
  {% for item in items %}
    <li class="o-accordion-group__list-row">
      {{ item.content }}
    </li>
  {% endfor %}
</ul>